{% load static %}
<!DOCTYPE html>
<html lang="tr-TR" class="js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HTML and PDF Editor for OCE App, Produced by IQVIA">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/iqvialogoicon.png' %}">
    <!-- Page Title  -->
    <title>IQVIA | OCE Editor</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
</head>
<style>
    .framephoto {
        max-width: 776px;
        max-height: calc(100vh - 95px);
        margin: auto;
        overflow: hidden;
        border: 2px solid green;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:45px;
      }
      .nk-fmg {
        padding-left: 0px;
    }
    .nk-fmg-body-content {
        padding: 4px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    body {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
      }
      
      .main-page {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .background-image{
        max-height: 100vh;
        max-width: 100vw;
        display: block;
      }
      
      .image-popup-container{
        max-height: 100vh;
        max-height: 100vw;
        display:none;
        justify-content:center;
        align-items:center;
        position: fixed;
        z-index: 100000;
        background-color: rgba(0, 0, 0, 0.2);
      }
      
      
      .image-popup-container img{
        max-height: 90vh;
        max-width: 90vw;
        display:flex;
        justify-content:center;
        align-items:center;
      }
      .background-blur {
        filter: blur(8px);
      }
      .video-container{
        display:none;
        z-index: 100000;
        position:fixed;
        max-width: 600px;
      }
      .video-embedded{
        position:absolute; 
        background-color:black; 
        display:flex; 
        justify-content:center;
        align-items:center;
        max-width:100%;
      }
      
      .video-container video{
        max-height: 80vh;
        max-width: 500px;
        

      }
      .close-button {
        position: fixed;
        right: 12px;
        top: 12px;
        width: 45px;
        height: 45px;
      }
      
      .close-button:before, .close-button:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 45px;
        width: 3px;
        background-color: #1f1f1f;
      }
      .close-button:before {
        transform: rotate(45deg);
      }
      .close-button:after {
        transform: rotate(-45deg);
      }
      area:hover{
       cursor: pointer;
      }
      
      
</style>


<body class="nk-body npc-apps apps-only has-apps-sidebar npc-apps-files">
    {% if user.dark_mode %}
    <script>
        var toggle = document.getElementsByClassName('dark-switch')[0];
        var body = document.getElementsByTagName('body')[0];
        body.classList.add('dark-mode');
        toggle.classList.add('active');
    </script>
    {% endif %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-header-app-name">
                                <img class="logo-img img-fluid me-3" style="max-width:170px;" src="{% static 'images/iqvialogo.png' %}" srcset="{% static 'images/iqvialogo.png' %}" alt="logo">
                                <div class="nk-header-app-info ms-4">
                                    <span class="sub-text">OCE Editor - ÖNİZLEME</span>
                                    <span class="lead-text ">{{pre.name}}</span>
                                </div>
                            </div>
                            <div class="nk-header-tools d-flex">
                                <div class="d-flex">                                    <a href="#" class="dropdown-toggle mt-1" data-bs-toggle="dropdown">
                                        <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Menü"><em class="icon ni ni-menu-alt mx-1 me-2 ms-2" style='font-size:25px;'></em></div>
                                    </a>
                                    <div class="dropdown-menu ">
                                        <div class="dropdown-body">
                                            <div class="nk-notification">
                                                <div class="dropdown-foot d-flex justify-content-start">
                                                    <em class="icon ni ni-file-docs"></em>
                                                    <a href="{% url 'folders' %}" class='ms-2'>Klasörler</a>
                                                </div>
                                                <div class="dropdown-foot d-flex justify-content-start">
                                                    <em class="icon ni ni-img"></em>
                                                    <a href="{% url 'presentation_list' %}" class='ms-2'>Sunumlar</a>
                                                </div>
                                                <div class="dropdown-foot d-flex justify-content-start">
                                                    <em class="icon ni ni-setting-alt"></em>
                                                    <a href="{% url 'settings' %}" class='ms-2'>Ayarlar</a>
                                                </div>
                                            </div><!-- .nk-notification -->
                                        </div><!-- .nk-dropdown-body -->
                                    </div>
                                </div>
                                <ul class="nk-quick-nav">
                                    <li class="dropdown help-dropdown">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                            <div class=""><em class="icon icon-circle bg-success-dim ni ni-help"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">SSS</span>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-help">
                                                    <div class="dropdown-foot">
                                                        <a href="#">Nasıl sekans eklerim?</a>
                                                    </div>
                                                    <div class="dropdown-foot">
                                                        <a href="#">Sunumu OCE'ye nasıl gönderebilirim?</a>
                                                    </div>
                                                    <div class="dropdown-foot">
                                                        <a href="#">bla bla</a>
                                                    </div>
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot dropdown-notification center">
                                                <a href="#">Hepsini Görüntüle</a>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <li class="dropdown notification-dropdown">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon notification-toggle" data-bs-toggle="dropdown">
                                            <div class=""><em class="icon icon-circle ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">BİLDİRİMLER</span>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification nk-notification-main">
                                                    <div id="notification-panel">
                                                        <!-- Notifications will be dynamically added here -->
                                                    </div>
                                                </div>
                                            </div><!-- .nk-dropdown-body -->
                                        </div>
                                    </li><!-- .dropdown -->                                 
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <img class="logo-img img-fluid" style="max-width:170px;" src="{% if user.company.logo %}{{ user.company.logo.url }}{% else %}{% static 'images/company_logo.png' %}{% endif %}" alt="logo">
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>{{ user.first_name.0 }}{{ user.last_name.0 }}</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{ user.company.name }}</span>
                                                        <span class="sub-text">{{ user.first_name }} {{ user.last_name }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'settings' %}"><em class="icon ni ni-setting-alt"></em><span>Ayarlar</span></a></li>
                                                    <li><a id="darkModeLink" class="dark-switch"><em class="icon ni ni-moon"></em><span>Koyu Tema</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'logout' %}"><em class="icon ni ni-signout"></em><span>Çıkış Yap</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @s -->
                <div class="nk-content p-0">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-fmg">
                                <div class="nk-fmg-body">
                                    <div class="nk-fmg-body-content">
                                        <div class='d-flex justify-content-center align-items-center' style="width:100%;height:100%;">
                                            <button id="swipeLeftButton" style="position: fixed; top: 50%; left: 30px; border: none; background-color: inherit;">
                                                <em style="font-size: 50px;" class="icon ni ni-arrow-left-round-fill"></em>
                                                <h5 style="font-size: 30px;">Swipe Left</h5>
                                            </button>
                                            
                                            <div class="framephoto" id="containment-wrapper">
                                                <img id="assetimage" style="width: 100%; height: 100%;"  usemap="#assetMap">
                                                <map name="assetMap" id="assetMap">
                                                    <!-- Add your <area> tags dynamically using JavaScript -->
                                                </map>
                                            </div>
                                            
                                            <button id="swipeRightButton" style="position: fixed; top: 50%; right: 30px; border: none; background-color: inherit;">
                                                <em style="font-size: 50px;" class="icon ni ni-arrow-right-round-fill"></em>
                                                <h5 style="font-size: 30px;">Swipe Right</h5>
                                            </button>
                                        </div>
                                    </div><!-- .nk-fmg-body-content -->
                                </div><!-- .nk-fmg-body -->
                            </div><!-- .nk-fmg -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/preview.js' %}"></script>

    <script>
        var assets = JSON.parse('{{ assets_json|safe }}');
        var assetCoordinates = JSON.parse('{{ asset_coordinates_json|safe }}');
        var currentAssetIndex = 0; // Track the index of the currently displayed asset
        console.log(assets);
        console.log(assetCoordinates);
    
        // Function to update the image source and asset coordinates
        function updateImageAndCoordinates() {
            if (assets.length > 0) {
                console.log(currentAssetIndex);
                var assetCoordinatesContainer = document.getElementById("assetMap");
                assetCoordinatesContainer.innerHTML = "";
                
                
                var currentAsset = assets[currentAssetIndex];
                var currentAssetCoordinates = assetCoordinates[currentAsset.id];
    
                var firstAssetImageUrl = '../media/' + currentAsset.img;
                var imgElement = document.getElementById("assetimage");
                imgElement.src = firstAssetImageUrl;
    
                // Update the asset coordinates
                updateAssetCoordinates(currentAssetCoordinates);
                
            }
        }
    
        // Function to update the asset coordinates
        function updateAssetCoordinates(coordinates) {
            var assetCoordinatesContainer = document.getElementById("assetMap");
            assetCoordinatesContainer.innerHTML = ""; // Clear previous coordinates



            var assetOthersContainer = document.querySelector(".framephoto");


            // Loop through each coordinate
            for (var i = 0; i < coordinates.length; i++) {
                var coordinate = coordinates[i];
                var element;

                // Create the appropriate HTML element based on the coordinate type
                if (coordinate.coordinate_type === 'link') {
                    element = document.createElement("area");
                    element.setAttribute("shape", "rect");
                    element.setAttribute("data-coord", coordinate.start_left + "," + coordinate.start_top + "," + coordinate.end_left + "," + coordinate.end_top);
                    element.setAttribute("alt", "");
                    element.setAttribute("onclick", "gotoLink(" + coordinate.linked_asset_id + "); return false;");
                    assetCoordinatesContainer.appendChild(element);
                } else if (coordinate.coordinate_type === 'popup') {
                    // Create a popup container
                    element = document.createElement("div");
                    element.setAttribute("class", "image-popup-container");
                    element.setAttribute("id", "popup-" + coordinate.id);

                    // Create a close button
                    var closeButton = document.createElement("a");
                    closeButton.setAttribute("class", "close-button");
                    closeButton.setAttribute("onclick", "closePopup('" + coordinate.id + "')");
                    element.appendChild(closeButton);

                    // Add your image content here
                    var image = document.createElement("img");
                    image.setAttribute("src", "../media/" + coordinate.image);
                    image.setAttribute("alt", "Image");
                    element.appendChild(image);
                    
                    // Create an area for the popup
                    var area = document.createElement("area");
                    area.setAttribute("shape", "rect");
                    area.setAttribute("data-coord", coordinate.start_left + "," + coordinate.start_top + "," + coordinate.end_left + "," + coordinate.end_top);
                    area.setAttribute("alt", "");
                    area.setAttribute("onclick", "openPopup('" + coordinate.id + "'); return false;");
                    
                    // Append the area to the container
                    assetCoordinatesContainer.appendChild(area);
                    assetOthersContainer.appendChild(element);

                } else if (coordinate.coordinate_type === 'video') {
                    // Check if the video is embedded or not
                    if (coordinate.is_embedded === false) {
                        // Create a video container
                        element = document.createElement("div");
                        element.setAttribute("class", "video-container");
                        element.setAttribute("id", "video-" + coordinate.id);

                        // Create a close button
                        var closeButton = document.createElement("a");
                        closeButton.setAttribute("class", "close-button");
                        closeButton.setAttribute("onclick", "closeVideo('" + coordinate.id + "')");
                        element.appendChild(closeButton);

                        // Create the video element
                        var video = document.createElement("video");
                        video.setAttribute("preload", "auto");
                        video.setAttribute("controls", "controls");
                        video.setAttribute("playsinline", "playsinline");

                        // Create the video source
                        var source = document.createElement("source");
                        source.setAttribute("src", "../media/" + coordinate.video);
                        source.setAttribute("type", "video/mp4");

                        video.appendChild(source);
                        element.appendChild(video);
                        assetOthersContainer.appendChild(element);
                        
                        // Create an area for the video
                        var area = document.createElement("area");
                        area.setAttribute("shape", "rect");
                        area.setAttribute("data-coord", coordinate.start_left + "," + coordinate.start_top + "," + coordinate.end_left + "," + coordinate.end_top);
                        area.setAttribute("alt", "");
                        area.setAttribute("onclick", "openVideo('" + coordinate.id + "'); return false;");
                        
                        // Append the area to the container
                        assetCoordinatesContainer.appendChild(area);
                    } else {
                        // Create an embedded video container
                        element = document.createElement("div");
                        element.setAttribute("class", "video-embedded");
                        element.setAttribute("data-coord", coordinate.start_left + "," + coordinate.start_top + "," + coordinate.end_left + "," + coordinate.end_top);

                        // Create the video element
                        var video = document.createElement("video");
                        video.setAttribute("preload", "auto");
                        video.setAttribute("controls", "controls");
                        video.setAttribute("playsinline", "playsinline");
                        video.style.maxHeight = "100%";
                        video.style.maxWidth = "100%";

                        // Create the video source
                        var source = document.createElement("source");
                        source.setAttribute("src", "../media/" + coordinate.video);
                        source.setAttribute("type", "video/mp4");

                        video.appendChild(source);
                        element.appendChild(video);
                        assetOthersContainer.appendChild(element);
                        
                        // Create an area for the video
                        var area = document.createElement("area");
                        area.setAttribute("shape", "rect");
                        area.setAttribute("data-coord", coordinate.start_left + "," + coordinate.start_top + "," + coordinate.end_left + "," + coordinate.end_top);
                        area.setAttribute("alt", "");
                        area.setAttribute("onclick", "openVideo(" + coordinate.id + "); return false;");
                        
                        // Append the area to the container
                        assetCoordinatesContainer.appendChild(area);
                    }
                }
            }
            updateAreaCoords();
            updateVideoCoords(); // update once on page load

        }
    
        function updateAreaCoords() {
            var areas = document.getElementsByTagName('area');
            var image = document.querySelector('#assetimage');
            var imageWidth = image.offsetWidth;
            var imageHeight = image.offsetHeight;
            console.log('hey');
          
            // loop through the areas and update their coordinates
            for (var i = 0; i < areas.length; i++) {
              var coords = areas[i].getAttribute('data-coord').split(',');
              var pixelCoords = '';
          
              for (var j = 0; j < coords.length; j++) {
                if (j % 2 === 0) {
                  // convert x coordinate from percentage to pixel value
                  var xPercent = parseInt(coords[j]);
                  var xPixel =(xPercent / 100000 * imageWidth);
                  pixelCoords += xPixel + ',';
                } else {
                  // convert y coordinate from percentage to pixel value
                  var yPercent = parseInt(coords[j]);
                  var yPixel =(yPercent / 100000 * imageHeight);
                  pixelCoords += yPixel;
          
                  // add comma between x and y coordinates, except for the last y coordinate
                  if (j !== coords.length - 1) {
                    pixelCoords += ',';
                  }
                }
              }
              // set the pixel coordinates as the new value of the coords attribute
              areas[i].setAttribute('coords', pixelCoords);
            }
          };

        // Function to handle swiping left 
        
        function updateVideoCoords() {
            var video = document.querySelector('.video-embedded');
            var image = document.querySelector('#assetimage');
            var imageWidth = image.offsetWidth;
            var imageHeight = image.offsetHeight;
            var offsetLeft = image.offsetLeft;
            var offsetTop = image.offsetTop;
        
            var coords = video.getAttribute('data-coord').split(',');
            var pixelCoords = '';
        
            for (var j = 0; j < coords.length; j++) {
              if (j % 2 === 0) {
                // convert x coordinate from percentage to pixel value
                var xPercent = parseInt(coords[j]);
                var xPixel =((xPercent / 100000 * imageWidth) + offsetLeft);
                pixelCoords += xPixel + ',';
              } else {
                // convert y coordinate from percentage to pixel value
                var yPercent = parseInt(coords[j]);
                var yPixel =((yPercent / 100000 * imageHeight) + offsetTop);
                pixelCoords += yPixel;
        
                // add comma between x and y coordinates, except for the last y coordinate
                if (j !== coords.length - 1) {
                  pixelCoords += ',';
                }
              }
            }
        
            // set the pixel coordinates as the new value of the coords attribute
            video.style.left = pixelCoords.split(',')[0] + 'px';
            video.style.top = pixelCoords.split(',')[1] + 'px';
        
            video.style.width = ((coords[2]-coords[0])*imageWidth/100000) + 'px';
            video.style.height = ((coords[3]-coords[1])*imageHeight/100000) + 'px';
        }
        
       
        

        // Get references to the buttons
        var swipeLeftButton = document.getElementById("swipeLeftButton");
        var swipeRightButton = document.getElementById("swipeRightButton");
    
        // Add event listeners to the buttons
        swipeLeftButton.addEventListener("click", handleSwipeLeft);
        swipeRightButton.addEventListener("click", handleSwipeRight);


        function handleSwipeLeft() {
            if (currentAssetIndex > 0) {
                currentAssetIndex--;
                // Remove all video containers
                var videoContainers = document.getElementsByClassName("video-container");
                while (videoContainers.length > 0) {
                    videoContainers[0].parentNode.removeChild(videoContainers[0]);
                }

                // Remove all video elements
                var videoElements = document.getElementsByTagName("video");
                while (videoElements.length > 0) {
                    videoElements[0].parentNode.removeChild(videoElements[0]);
                }

                // Remove all video embedded containers
                var embeddedContainers = document.getElementsByClassName("video-embedded");
                while (embeddedContainers.length > 0) {
                    embeddedContainers[0].parentNode.removeChild(embeddedContainers[0]);
                }
                updateImageAndCoordinates();
            }
        }
    
        // Function to handle swiping right
        function handleSwipeRight() {
            if (currentAssetIndex < assets.length - 1) {
                currentAssetIndex++;
                // Remove all video containers
                var videoContainers = document.getElementsByClassName("video-container");
                while (videoContainers.length > 0) {
                    videoContainers[0].parentNode.removeChild(videoContainers[0]);
                }

                // Remove all video elements
                var videoElements = document.getElementsByTagName("video");
                while (videoElements.length > 0) {
                    videoElements[0].parentNode.removeChild(videoElements[0]);
                }

                // Remove all video embedded containers
                var embeddedContainers = document.getElementsByClassName("video-embedded");
                while (embeddedContainers.length > 0) {
                    embeddedContainers[0].parentNode.removeChild(embeddedContainers[0]);
                }
                updateImageAndCoordinates();
            }
        }
    </script>
    
    <script>
        function gotoLink(coordinateId) {
            console.log(assets);
            console.log('bu1 - ' + currentAssetIndex);
            console.log('coordinateId:', coordinateId);

        
            for (var i = 0; i < assets.length; i++) {
                if (assets[i].id === coordinateId) {
                    currentAssetIndex = i;
                    break;
                }
            }
            console.log('bu2 - ' + currentAssetIndex);
            var assetCoordinatesContainer = document.getElementById("assetMap");
            assetCoordinatesContainer.innerHTML = "";
                // Remove all video containers
                var videoContainers = document.getElementsByClassName("video-container");
                while (videoContainers.length > 0) {
                    videoContainers[0].parentNode.removeChild(videoContainers[0]);
                }

                // Remove all video elements
                var videoElements = document.getElementsByTagName("video");
                while (videoElements.length > 0) {
                    videoElements[0].parentNode.removeChild(videoElements[0]);
                }

                // Remove all video embedded containers
                var embeddedContainers = document.getElementsByClassName("video-embedded");
                while (embeddedContainers.length > 0) {
                    embeddedContainers[0].parentNode.removeChild(embeddedContainers[0]);
                }
            updateImageAndCoordinates();
        }
    </script>
    <script>


        function openPopup(id) {
        
        // show the popup container with the matching id
        var popup = document.getElementById('popup-' + id);
        var bgimage = document.querySelector('#assetimage');
        var video = document.querySelector('.video-embedded');
        popup.style.display = 'block';
        bgimage.classList.add('background-blur');
        video.classList.add('background-blur');
        }
        
        
        function closePopup(id) {
        
        // show the popup container with the matching id
        var popup = document.getElementById('popup-' + id);
        var bgimage = document.querySelector('#assetimage');
        var video = document.querySelector('.video-embedded');
        popup.style.display = 'none';
        bgimage.classList.remove('background-blur');
        video.classList.remove('background-blur');
        }
        function openVideo(id) {
        // show the popup container with the matching id
        const container = document.getElementById('video-' + id);
        var bgimage = document.querySelector('#assetimage');
        bgimage.classList.add('background-blur');
        container.style.display = 'block';
        }
        
        
        
        function closeVideo(id) {
        const container = document.getElementById('video-' + id);
        const videoElement = container.querySelector('video');
        var bgimage = document.querySelector('#assetimage');
        bgimage.classList.remove('background-blur');
        
        // Pause the video
        videoElement.pause();
        
        // Reset the video to the beginning
        videoElement.currentTime = 0;
        
        // Hide the video container
        container.style.display = 'none';
        }
      
</script>
<script>


    // Call the updateImageAndCoordinates function initially to display the first asset and its coordinates
           updateImageAndCoordinates();
</script>
<script>
    $(document).ready(function() {
      // AJAX request to get notifications
      $.ajax({
        url: "{% url 'get_notifications' %}",
        dataType: 'json',
        success: function(data) {
          // Process the received notifications
          var notifications = data.notifications;
          var hasUnread = false; // Flag to check if there are unread notifications
  
          if (notifications.length > 0) {
            // Update the notification panel with the received notifications
            for (var i = 0; i < notifications.length; i++) {
              var notification = notifications[i];
              var message = notification.message;
              var createdAt = notification.created_at;
              var isRead = notification.is_read; // Retrieve the "is_read" field from the notification
  
              // Create the notification item
              var notificationItem = $('<div class="dropdown-foot dropdown-notification"><a href="#">' + message + '</a><em class="icon ni ni-clock ms-2" data-toggle="tooltip" data-placement="top" title="' + createdAt + '"></em></div>');
  
              // Append the notification item to the panel
              $('.nk-notification-main').append(notificationItem);
  
              // Check if the notification is unread
              if (!isRead) {
                hasUnread = true; // Set the flag to true if there is at least one unread notification
              }
            }
  
            // Reinitialize tooltips
            $('[data-toggle="tooltip"]').tooltip();
          } else {
            // Show a message indicating no notifications
            $('.nk-notification-main').append('<div class="dropdown-foot dropdown-notification"><p href="#">Bildirim bulunmamaktatır.</p></div>');
          }
  
          // Add or remove the red dot based on the flag
          if (hasUnread) {
            $('.notification-dropdown').append('<span class="unread-indicator"></span>');
          } else {
            $('.unread-indicator').remove();
          }
        },
        error: function() {
          // Handle error if the AJAX request fails
          console.error('Failed to retrieve notifications.');
        }
      });
    });
</script>
<script>
    // Click event for opening the dropdown
    $('.notification-toggle').click(function() {
        // Remove the unread indicator
        $('.unread-indicator').remove();
    
        // AJAX request to mark notifications as read
        $.ajax({
            url: "{% url 'mark_notifications_as_read' %}",
            method: 'POST',
            success: function() {
            console.log('Notifications marked as read.');
            },
            error: function() {
            console.error('Failed to mark notifications as read.');
            }
        });
        });
</script>
</body>

</html>